<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluxo - Anuncio</title>
</head>
<body>
    <h1>Criar Anuncio</h1>

    <form action="/criar/anuncio" method="post">
        <label for="nome_anuncio">Nome do Anuncio:</label>
        <input type="text" name="nome_anuncio" id="nome_anuncio">
    </br>
    </br>
        <label for="valor_Anuncio">Valor:</label>
        <input type="number" name="valor_Anuncio" id="valor_Anuncio">
    </br>
    </br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" name="quantidade" id="quantidade">
    </br>
    </br>
        
    </br>
    </br>
        <label for="descricao_Anuncio">Descrição:</label>
        <textarea rows="3" name="descricao_Anuncio" id="descricao_Anuncio"></textarea>
    </br>
    </br>
        <button type="submit">Adicionar</button>
    </form>
    </br>
    </br>
<a href={{ url_for('index') }}>Voltar ao inicio</a>

    <h1>Lista de Anuncios</h1>
    <table>
        <thead>
            <tr>
                <th>nome</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Descrição</th>
                <th>Atualizar</th>
                <th>Deletar</th>
            </tr>
        <thead>
        <tbody>
            {% for anuncio in anuncios %}
                <tr>
                    <td>{{ anuncio.nome_Do_Anuncio }}</td>
                    <td>{{ anuncio.valor_Anuncio }}</td>
                    <td>{{ anuncio.quantidade_Anuncio }}</td>
                    <td>{{ anuncio.descricao_Anuncio }}</td>
                    <td><a href={{ url_for("atualizarAnuncio", id=anuncio.id) }}>Atualizar</a></td>
                    <td><a href={{ url_for("deletarAnuncio", id=anuncio.id)}}>Deletar</a></td>
                </tr>
            {% endfor %}
        </tbody>
</body>
</html>