<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Fluxo - Categoria</title>
</head>

<body class="h-100 bg-body-secondary">
    <div class="bg-black text-white text-uppercase">
        <ul class="nav justify-content-center p-3">
            <li class="nav-item">
                <a class="nav-link" href={{url_for("index")}}>inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href={{url_for("anuncio")}}>Anuncios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{url_for("categoria")}}>Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{url_for("mostrarFavoritos")}}>Favoritos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={{url_for("logout")}}>logout</a>
            </li>
        </ul>
    </div>

    <div class="d-flex vh-100 justify-content-center align-items-center">
        <div class="bg-body-tertiary shadow text-body rounded w-75">
            <h1 class="text-center p-2 mb-5">Criar Categoria</h1>
            <div class="text-center">
                <form class="text-uppercase" action="/criar/categoria" method="post">
                    <div class="container mb-4">
                        <label class="form-label" for="nome_Categoria">Tema:</label>
                        <input class="form-control" type="text" name="nome_Categoria" id="nome_Categoria">
                    </div>
                    <button class="btn btn-primary mb-3" type="submit">Cadastrar</button>
                </form>

                <a class="text-center btn btn-secondary mb-3" href={{ url_for('index') }}>Voltar ao inicio</a>
            </div>
        </div>
    </div>

</html>